* { box-sizing: border-box; }

body,
html {
    height: 100%;
    margin:0;
    font-family: sans-serif;
    overscroll-behavior: none;
}

.container {
    overscroll-behavior: none;
    width: 200%;
    display: flex;
    flex-wrap: nowrap;
}

.full-screen-page {
    position: relative;
    text-align: center;
    color: white;
    height: 100%;
}
.full-screen-page img {
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.center-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.enter-button {
  font-size: 1.5rem;
}

/* a:link, a:visited .enter-button {
  background-color: white;
  color: black;
  border: 3px solid white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active .enter-button {
  background-color: purple;
  color: white;
} */

* { box-sizing: border-box; }