@import url('https://fonts.googleapis.com/css2?family=Arya:wght@400;700&display=swap');

* { box-sizing: border-box; }

h1 {
  margin: 0;
}

body,
html {
    height: 100%;
    width: 100vw;
    margin:0;
    font-family: 'Arya', sans-serif;
}

.tile {
  min-height: 100vh;
  width: 100vw;
  /* this is not correct: */
  max-height: fit-content;
}

.container {
    /* width: 300%; */
    display: flex;
    flex-wrap: nowrap;
}

.full-screen-page {
    position: relative;
    text-align: center;
    color: white;
    height: 100vh;
    width: 100vw !important; 
}
.full-screen-page img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}
.landing h1{
  color: black;
  line-height: 1;
  text-align: right;
  margin: 0;
}
.landing p{
  color: black;
  line-height: .5;
  text-align: right;
}
@media (min-width: 768px) { 
.landing h1{
  font-size: 10rem;
}
.landing p{
  font-size: 3rem;
}
 }


.center-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#endcard .more-info {
  position: absolute;
  bottom: 20px;
    left: 50%;
}


#endcard a:link, #endcard a:visited, #endcard a:active {
 background-color: #1b4332;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

/* mouse over link */
#endcard a:hover {
  background-color: #d8f3dc;
  color: black;
}

.more-info{
  background-color: #a3b18a;
  min-height: 100vh;
}

.more-info>h1{
  padding: 20px;
  text-align: center;
}

.more-info>h1>a {
 text-decoration: none;
  color: black;
}
.more-info>h1>a:hover {
 text-decoration: underline;
  color: black;
}

.meet-artists{
  height: fit-content;
  padding: 20px;
  display: flex;
}

.meet-artists .right {
  display: block;
  flex-basis: 100%;
  order: 2;
  text-align: right;
  padding-right: 30px;
}

.meet-artists .right h1{
  padding-top: 15%;
}

.meet-artists .left {
  display: block;
  flex-basis: 100%;
  text-align: center;
}
.meet-artists .left img {
  width: 45%;
}
@media (min-width: 768px) { 

.meet-artists .left img {
  width: 30%;
}}

.references {
  text-align: center;
  font-size: 20px;
  padding-bottom: 40px;
}

/* unvisited link */
#digital a:link, #digital a:visited, #digital a:active {
 background-color: #1b4332;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

/* mouse over link */
#digital a:hover {
  background-color: #d8f3dc;
  color: black;
}
